body{
    background-color: blue;
}
nav{
    text-transform: uppercase
}
.nav-item:hover{
    background-color:red;
    opacity: 0.7;
}
header {
    background-image: url(https://thumbs.gfycat.com/PoisedWindingAsiaticgreaterfreshwaterclam-max-1mb.gif);
    height:600px; 
    background-size:cover;
   font-style: italic
}
header {
    text-align: center;
}
.services i{
    
    font-size:30px;
    padding:25px 20px;
    
}
.services span{
    width:200px;
    display: inline-block;
}
.col-md-3{
   text-align: center
}













