body{
    background-color: blue;
    color:black;
}
nav{
    text-transform: uppercase
}
.nav-item:hover{
    background-color:red;
    opacity: 0.7;
}
header {
    background-image: url(https://cache.desktopnexus.com/thumbseg/521/521536-bigthumbnail.jpg);
    height:600px; 
    background-size:cover;
   font-style: italic
}
header {
    text-align: center;
}
p{
    text-align: center;
}
.services i{
    text-align: center;
    font-size:30px;
    padding:25px 20px;
}
.services span{
    display: inline-block;
    text-align: center;
}
.col-md-3{
   text-align: center;
}
.team-img{
    border-radius: 30px;
    width: 200px;
    height: 250px;
}
i{
    background-color: white;
    border-radius: 30px;
}









